## SUMMER  TRAINING  4TH SEMESTER

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor

In [2]:
import os
path = r'D:\project\training'
os.chdir(path )

In [3]:
df = pd.read_csv("train_v9rqX0R.csv")

In [4]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [6]:
df.shape

(8523, 12)

## correlation matrix

In [7]:
corr_matrix= df.corr()
corr_matrix

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Weight,1.000000,-0.014048,0.027141,-0.011588,0.014123
Item_Visibility,-0.014048,1.000000,-0.001315,-0.074834,-0.128625
Item_MRP,0.027141,-0.001315,1.000000,0.005020,0.567574
Outlet_Establishment_Year,-0.011588,-0.074834,0.005020,1.000000,-0.049135
Item_Outlet_Sales,0.014123,-0.128625,0.567574,-0.049135,1.000000

## Data Cleaning

In [8]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [9]:
df['New_Item_Type']= df['Item_Identifier'].apply(lambda x: x[:2])
df['New_Item_Type']
df['New_Item_Type']=df['New_Item_Type'].map({'FD':'Food','NC':'Non-consumable','DR':'Drinks'})
df['New_Item_Type'].value_counts()

Food              6125
Non-consumable    1599
Drinks             799
Name: New_Item_Type, dtype: int64

In [10]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales', 'New_Item_Type'],
      dtype='object')

In [11]:
df.loc[df['New_Item_Type']=='Non-consumable', 'Item_Fat_Content']='Non-Edible'
df['Item_Fat_Content'].value_counts()
df['Item_Fat_Content']=df['Item_Fat_Content'].replace({'LF':'Low Fat', 'reg':'Regular', 'low fat' : 'Low Fat'})
df['Item_Fat_Content'].value_counts()

Low Fat       3918
Regular       3006
Non-Edible    1599
Name: Item_Fat_Content, dtype: int64

In [12]:
df.drop("Item_Identifier", axis=1, inplace=True)

In [13]:
df.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,New_Item_Type
0,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,Food
1,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,Drinks
2,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,Food
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,Food
4,8.93,Non-Edible,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,Non-consumable

## Get dumies

In [14]:
df = pd.get_dummies(df, columns=['Item_Fat_Content','Outlet_Size','Outlet_Location_Type','Outlet_Type','New_Item_Type'])

In [15]:
df.head()

,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_Low Fat,Item_Fat_Content_Non-Edible,Item_Fat_Content_Regular,...,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,New_Item_Type_Drinks,New_Item_Type_Food,New_Item_Type_Non-consumable
0,9.30,0.016047,Dairy,249.8092,OUT049,1999,3735.1380,1,0,0,...,1,0,0,0,1,0,0,0,1,0
1,5.92,0.019278,Soft Drinks,48.2692,OUT018,2009,443.4228,0,0,1,...,0,0,1,0,0,1,0,1,0,0
2,17.50,0.016760,Meat,141.6180,OUT049,1999,2097.2700,1,0,0,...,1,0,0,0,1,0,0,0,1,0
3,19.20,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,732.3800,0,0,1,...,0,0,1,1,0,0,0,0,1,0
4,8.93,0.000000,Household,53.8614,OUT013,1987,994.7052,0,1,0,...,0,0,1,0,1,0,0,0,0,1

In [16]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
cat_col = ['Item_Type','Outlet_Identifier']
for col in cat_col:
    df[col] = LE.fit_transform(df[col])

## Mean Values for Misssing Numbers

In [17]:
df.isnull().sum()

Item_Weight                      1463
Item_Visibility                     0
Item_Type                           0
Item_MRP                            0
Outlet_Identifier                   0
Outlet_Establishment_Year           0
Item_Outlet_Sales                   0
Item_Fat_Content_Low Fat            0
Item_Fat_Content_Non-Edible         0
Item_Fat_Content_Regular            0
Outlet_Size_High                    0
Outlet_Size_Medium                  0
Outlet_Size_Small                   0
Outlet_Location_Type_Tier 1         0
Outlet_Location_Type_Tier 2         0
Outlet_Location_Type_Tier 3         0
Outlet_Type_Grocery Store           0
Outlet_Type_Supermarket Type1       0
Outlet_Type_Supermarket Type2       0
Outlet_Type_Supermarket Type3       0
New_Item_Type_Drinks                0
New_Item_Type_Food                  0
New_Item_Type_Non-consumable        0
dtype: int64

In [18]:
from sklearn.impute import SimpleImputer 
imputer=SimpleImputer (strategy="median")
imputer.fit(df)

SimpleImputer(strategy='median')

In [19]:
Imputer=imputer.transform(df)

In [20]:
df=pd.DataFrame(Imputer,columns=df.columns)

In [21]:
df.head(20)

,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_Low Fat,Item_Fat_Content_Non-Edible,Item_Fat_Content_Regular,...,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,New_Item_Type_Drinks,New_Item_Type_Food,New_Item_Type_Non-consumable
0,9.300,0.016047,4.0,249.8092,9.0,1999.0,3735.1380,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,5.920,0.019278,14.0,48.2692,3.0,2009.0,443.4228,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,17.500,0.016760,10.0,141.6180,9.0,1999.0,2097.2700,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,19.200,0.000000,6.0,182.0950,0.0,1998.0,732.3800,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,8.930,0.000000,9.0,53.8614,1.0,1987.0,994.7052,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
5,10.395,0.000000,0.0,51.4008,3.0,2009.0,556.6088,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
6,13.650,0.012741,13.0,57.6588,1.0,1987.0,343.5528,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7,12.600,0.127470,13.0,107.7622,5.0,1985.0,4022.7636,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
8,16.200,0.016687,5.0,96.9726,7.0,2002.0,1076.5986,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9,19.200,0.094450,5.0,187.8214,2.0,2007.0,4710.5350,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
10,11.800,0.000000,6.0,45.5402,9.0,1999.0,1516.0266,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
11,18.500,0.045464,4.0,144.1102,8.0,1997.0,2187.1530,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
12,15.100,0.100014,6.0,145.4786,9.0,1999.0,1589.2646,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
13,17.600,0.047257,13.0,119.6782,8.0,1997.0,2145.2076,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
14,16.350,0.068024,6.0,196.4426,1.0,1987.0,1977.4260,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
15,9.000,0.069089,2.0,56.3614,8.0,1997.0,1547.3192,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
16,11.800,0.008596,8.0,115.3492,3.0,2009.0,1621.8888,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
17,9.000,0.069196,2.0,54.3614,9.0,1999.0,718.3982,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
18,12.600,0.034238,7.0,113.2834,5.0,1985.0,2303.6680,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
19,13.350,0.102492,4.0,230.5352,6.0,2004.0,2748.4224,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [22]:
x=df.drop("Item_Outlet_Sales",axis=1)
y=df["Item_Outlet_Sales"]

In [23]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x)

MinMaxScaler()

In [24]:
scaler=scaler.transform(x)
x=pd.DataFrame(scaler,columns=x.columns)

In [25]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10,shuffle=True)

In [26]:
knn=KNeighborsRegressor()
knn.fit(x_train,y_train)

KNeighborsRegressor()

In [27]:
pred=knn.predict(x_test)

In [28]:
acc=knn.score(x_test,y_test)

In [29]:
print("Accuracy=" + str(acc*100) + "%")

Accuracy=52.11404494188068%

In [30]:
from sklearn.model_selection import GridSearchCV
parameter=[{'n_neighbors':list(range(10))}]

In [31]:
knn=neighbors.KNeighborsRegressor()
model=GridsearchCV(knn,parameter,cv=5)

NameError: name 'neighbors' is not defined

In [ ]:
model.fit(x_train,y_train)

#